name: test

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install Rust and Cargo
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          override: true

      - name: Install Geckodriver via Cargo
        run: |
          cargo install geckodriver

      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: "1.25.4"

      - name: Test
        run: |
          cd test
          go test -v
